:root {
    --header-height: 3rem;
    --nav-width:15%;
  
    --first-color: black;
    --first-color-alt: white;
    --white-color: white;
    --navClor: #32aeb1;
    --colorNav: black;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .subNavBox {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 5px !important;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color:var(--navClor); 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:var(--white-color);  
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color:black; 
  }
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  main {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-size: 1rem;
    font-family: "Nunito Sans", sans-serif;
    transition: 0.5s;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    padding: 0 1rem;
    transition: 0.5s;
  }
  
  .header-toggle {
    font-size: 1.25rem;
    cursor: pointer;
    color: var(--first-color);
  }
  .subNav {
    transition: 0.5s;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: -30%;
    height: 95vh;
    width: var(--nav-width);
    background-color: var(--navClor);
    padding-top: 1rem;
    transition: 0.5s;
    border-radius: 15px;
    margin: 13px;
  }
  
  .nav {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
  }
  
  .nav-logo,
  .nav-links {
    display: grid;
    align-items: center;
    grid-template-columns: max-content max-content;
    column-gap: 2rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
  }
  
  .nav-logo {
    margin-bottom: 2rem;
    text-decoration: none;
  }
  
  .nav-logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
    cursor: pointer;
  }
  
  .nav-logo-name {
    font-weight: 700;
    color: var(--white-color);
  }
  
  .nav-links {
    position: relative;
    color: var(--first-color-alt);
    transition: 0.5s;
    /* margin-bottom: 1.5rem; */
    margin-bottom: 8px;
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: var(--white-color);
    background-color: #473b3b;
    /* background-color: rgba(0, 0, 0, 0.1); */
  }
  
  .active {
    color: var(--white-color);
    /* background-color: #473b3b ; */
    background-color: var(--navClor);
    /* background-color: rgba(0, 0, 0, 0.1); */
  }
  
  .active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 38px;
    width: 3px;
    background-color: var(--white-color);
    transition: 0.5s;
  }
  
  .show {
    left: 0;
  }
  
  .space-toggle {
    padding-left: calc(var(--nav-width) + 1rem);
  }
  
  @media screen and (min-width: 768px) {
    main {
      margin: calc(var(--header-height) + 1rem) 0 0 0;
    
      padding: 0 1rem 0 calc(var(--nav-width) + 2rem);
    }
  
    .sidebar {
      left: 0;
      padding: 1rem 0 0 0;
    }
    .space-toggle {
      padding-left: calc(var(--nav-width) + 188px);
    }
  }
  
  .iconCss {
    display: flex;
    gap: 15px;
    color: grey;
  }
  
  
  .navList{
    margin-top: 30px;
    padding: 20px;
    overflow: scroll;
    height: 80vh;
  }

  .ChildNavBox{
    padding: 13px 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid;
  }

  .ChildNavBox:hover{
    border-radius: 5px;
    background: #282e346e;
    color: white;
  }
.selectedNav{
    padding: 13px 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid;
    border-radius: 5px;
    background: #282e346e;
    color: white;
}
  .navChild{
    font-size: 20px;
  }

  .childrenBox{
    border-radius: 5px;
    background: #32aeb1;
    padding: 11px;
    margin-bottom: 10px;
  }

  .pagination {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
  }
  
  .pagination li {
    margin: 0 5px;
    font-weight: 600;
    font-size: 12px;
  }
  
  .pagination li a {
    font-size: 12px;
    text-decoration: none;
    color: #007bff;
    padding: 0px 5px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination li.active a {
    background-color: #32aeb1;
    color: white;
    border: 1px solid #32aeb1;
  }
  
  .pagination li.disabled a {
    color: #6c757d;
    pointer-events: none;
  }